.top-bar, .top-bar .menu {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
  color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  // a:active, a:focus {
  //   font-weight: bold;
  // }
  .active-link {
    font-weight: bold;
  }
}
